@import "../variable.scss";

.blog-card {
    @include flex-between;
    flex-direction: row-reverse;
    align-items: start;
    background-color: $light-cream;
    border: 1px solid $dark-red;
    box-shadow: $box-shadow;
    &:hover{
        transform: scale(1.02);
        transition: all 300ms ease-in-out;
        background-color: $light-cream2;
    }
    img{
        height: 150px;
        width: 150px;
    }
    .card{
        &-text{
            height: 50px;
            overflow: hidden;
        }
    }
}