@import "../variable.scss";

.blog-component {
  background-color: $medium-cream;
  .blog {
    margin-bottom: 120px;
    

    &__nav {
      .nav {
        &-item {
          
          button {
            background-color: $medium-cream;
            color: $dark-red;
          }
          .active {
            background-color: $light-cream;
            color: $dark-red;
            border: 1px solid $dark-red;
            border-bottom: none;
          }
        }
      }
    }
    &__content {
      overflow-y: scroll;
      background-color: $light-cream;
      border-radius: 5px;
      border: 1px solid $dark-red;
    }
  }
}
