@import "../variable.scss";

.blog-item {
  background-color: $medium-cream;
  padding-top: 200px;
  
  &__container {
    border-radius: 5px;
    border: 1px solid $dark-red;
    margin-bottom: 180px;
    background-color: white;
    position: relative;
    &__button {
      @include red-button;
      @include flex-center;
      position: absolute;
      top: -10%;
      left: 0%;
      div{
        margin-left: 10px;
      }
    }

    &__title {
      font-size: 2rem;
      color: $dark-red;
      margin-bottom: 20px;
    }
    &__date {
      font-size: 1rem;
      color: $medium-dark-red;
      margin-bottom: 20px;
    }
    &__content {
      font-size: 1rem;
      color: $medium-dark-red;
    }
    &__img {
      width: 100%;
      height: 400px;
      margin-bottom: 20px;
      object-fit: cover;
    }
  }
}
