@import "./variable.scss";

.experiences-educations {
  background-color: $medium-cream;
  &__svg {
    @include svg-design;
  }
}

.card-item-section {
  &__title {
    color: $dark-red;
  }
}

.card-item {
  background-color: $light-cream !important;
  border: 1px solid $dark-red !important;
  &__body {
    position: relative;
    &__skills-btn {
      a {
        @include red-button;
        padding: 7px 10px;
      }
    }
    img {
      position: absolute;
      border: 1px solid $dark-red;
      left: 0px;
      top: -32px;
    }
  }
}
