@import "./variable.scss";

.experiences-educations {
  background-color: $medium-cream;
  &__svg {
    @include svg-design;
  }
}

.card-item-section {
  &__title {
    color: $dark-red;
  }
  &__items {
    border-left: thick $dark-red solid;
  }
}

.card-item {
  background-color: $light-cream !important;
  border: 1px solid $dark-red !important;

  &:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -58px;
    width: 15px;
    height: 15px;
    background: $dark-red;
    border-radius: 50%;
  }
  &__body {
    position: relative;
    &__skills-btn {
      a {
        @include red-button;
        padding: 7px 10px;
      }
    }
    img {
      position: absolute;
      border: 1px solid $dark-red;
      left: 0px;
      top: -32px;
    }
  }
}
