@import "./variable.scss";

.header-section {
  height: 60px;
  background: $medium-cream;
  &__wrapped {
    @include flex-between;
    height: 100%;

    &__logo {
      color: $dark-red;
    }
    &__menu {
      height: 100%;
      display: flex;
      align-items: center;
      a {
        @include flex-center;
        height: 100%;
        text-decoration: none;
        color: $dark-red;
        transition: all 0.2s ease-in-out;
        &:hover {
          background-color: $dark-red;
          color: $medium-cream;
        }
      }
    }
    &__language {
      img {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        border: 1px solid $dark-red;
        transition: scale 0.15s ease;
        &:hover {
          cursor: pointer;
          scale: 1.1;
        }
      }
    }
  }
}
