@import "./variable.scss";

.home-section {
  background-color: $medium-cream;
  height: 800px;
  @include flex-around;
  position: relative;

  @media (max-width: 1200px) {
    flex-direction: column-reverse;
    height: 1200px;
  }

  &__left {
    @media (max-width: 1200px) {
      width: 50%;
    }
    &__btn {
      @include red-button;
    }
  }

  &__right {
    position: relative;
    width: 30%;
    height: 60%;

    @media (max-width: 1200px) {
      width: 50%;
      height: 45%;
    }
    @media (max-width: 800px) {
      width: 80%;
      height: 35%;
    }

    &__background {
      @media (max-width: 1200px) {
        width: 100%;
        height: 450px;
      }

      background-color: $rose-pink;
      border-bottom-right-radius: 40%;
      border-top-left-radius: 40%;

      height: 500px;
      width: 450px;

      position: absolute;
      z-index: 0;
    }
    .logo-pic {
      @media (max-width: 1200px) {
        width: 100%;
        height: 450px;
      }
      height: 500px;
      position: absolute;
      z-index: 1;
    }
  }

  &__svg {
    @include svg-design;
    bottom: -5px;
  }
}
