@import "./variable.scss";

.skills {
  position: relative;
  @include flex-center;
  flex-direction: column;
  background-color: $light-cream;
  height: 800px;
  &__title {
    color: $dark-red;
  }
  &__items {
    width: 80%;
  }
}
