.home-section {
  background-color: #edcdbb;
  height: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.home-section__left__btn {
  background-color: #6b0f29;
  color: #f8f3f0;
  padding: 13px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.home-section__left__btn:hover {
  background: #981d40;
  color: #f8f3f0;
}
.home-section__right {
  position: relative;
  width: 30%;
  height: 60%;
}
.home-section__right__background {
  background-color: #dd7e7c;
  border-bottom-right-radius: 40%;
  border-top-left-radius: 40%;
  height: 500px;
  width: 450px;
  position: absolute;
  z-index: 0;
}
.home-section__right img {
  position: absolute;
  z-index: 1;
}
.home-section__svg {
  position: absolute;
  z-index: 2;
  width: 100%;
  bottom: -5px;
}

.about-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #f8f3f0;
  height: 600px;
}
.about-me__left {
  position: relative;
  width: 30%;
}
.about-me__right {
  width: 80%;
}
.about-me__img {
  position: absolute;
  z-index: 1;
  bottom: 0;
  opacity: 0.5;
}
.about-me__bottom {
  position: absolute;
  z-index: 2;
  width: 100%;
  bottom: -6px;
}

.skills {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f8f3f0;
  height: 800px;
}
.skills__title {
  color: #6b0f29;
}
.skills__card {
  width: 85%;
}

.header-section {
  height: 60px;
  background: #edcdbb;
}
.header-section__wrapped {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header-section__wrapped__left {
  color: #6b0f29;
}
.header-section__wrapped__right {
  height: 100%;
  display: flex;
  align-items: center;
}
.header-section__wrapped__right a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: #6b0f29;
  transition: all 0.2s ease-in-out;
}
.header-section__wrapped__right a:hover {
  background-color: #6b0f29;
  color: #edcdbb;
}

.contact-me {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #edcdbb;
  height: 600px;
}
.contact-me__info__title {
  color: #6b0f29;
}
.contact-me__info__title strong {
  color: #6b0f29;
}
.contact-me__info__btn a {
  background-color: #6b0f29;
  color: #f8f3f0;
  padding: 13px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.contact-me__info__btn a:hover {
  background: #981d40;
  color: #f8f3f0;
}
.contact-me__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 40%;
}
.contact-me__form input,
.contact-me__form textarea {
  background-color: #f8f3f0;
  border-color: #6b0f29;
  border-width: medium;
}
.contact-me__form textarea {
  height: 200px;
}
.contact-me__form button {
  background-color: #6b0f29;
  color: #f8f3f0;
  padding: 13px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.contact-me__form button:hover {
  background: #981d40;
  color: #f8f3f0;
}

.experiences-educations {
  background-color: #edcdbb;
}
.experiences-educations__svg {
  position: absolute;
  z-index: 2;
  width: 100%;
}

.card-item-section__title {
  color: #6b0f29;
}

.card-item {
  background-color: #f8f3f0 !important;
  border: 1px solid #6b0f29 !important;
}
.card-item__body {
  position: relative;
}
.card-item__body__skills-btn a {
  background-color: #6b0f29;
  color: #f8f3f0;
  padding: 13px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  padding: 7px 10px;
}
.card-item__body__skills-btn a:hover {
  background: #981d40;
  color: #f8f3f0;
}
.card-item__body img {
  position: absolute;
  border: 1px solid #6b0f29;
  left: 0px;
  top: -32px;
}

/*# sourceMappingURL=output.css.map */
